---
import MainLayout from '../../layouts/MainLayout.astro'
import BlogCard from '../../lib/ui/BlogCard.svelte'
---

<MainLayout>

  <div class=" grid grid-cols-2 gap-2 h-min w-full p-2  ">
  <BlogCard ></BlogCard>
  <BlogCard></BlogCard>
  <BlogCard></BlogCard>
  </div>
</MainLayout>
